.w{
    width: 1200px;
    margin: 0 auto;
    box-sizing: border-box;
}
/*header{*/
/*    position: relative;*/
/*    height: 84px;*/
/*    border-bottom: 2px solid #c81523;*/
/*}*/
/*header img{*/
/*    position: absolute;*/
/*    bottom: 0;*/
/*    left: 0;*/
/*}*/
header{
    /*border: 1px solid;*/
    height: 84px;
    border-bottom: 2px solid #c81523;
}
.logo{
    /*border: 1px purple solid;*/
    padding-top: 18px;
}
.registerarea{
    margin-top: 22px;
    height: 522px;
    border: 1px #ccc solid;
}
.registerarea h3{
    font-size: 18px;
    font-weight: 400;
    padding: 0 15px;
    line-height: 42px;
    height: 42px;
    border-bottom: 1px solid #ccc;
    background-color: #ececec;
}
h3 .hright{
    font-size: 14px;
    float: right;
}
h3 a{
    font-size: 16px;
    color: red;
}
.reg_form{
    width: 600px;
    /*height: 200px;*/
    /*background-color: pink;*/
    margin: 50px auto 0 ;
}
.reg_form ul li label{
    display: inline-block;
    width: 88px;
    text-align: right;
}
.reg_form ul li .inp{
    width: 242px;
    height: 37px;
    border: solid #ccc 1px;
    outline: none;
}
.error{
    font-size: 13px;
    color: red;
}
.error_icon,.sucess_icon{
    margin-right: 10px;
    display: inline-block;
    vertical-align: middle;
    width: 20px;
    height: 20px;
    background: url("../images/error.png")no-repeat;
    margin-top: -3px;
}
.reg_form ul li {
    margin-bottom: 20px;
}
.sucess{
    color: green;
}
.sucess_icon{
    background: url("../images/success.png")no-repeat;
}
.safe em{
    padding: 0 12px;
    color: #fff;
    margin-right: 2px;
}
.ruo{
    background-color: #de1111;
}
.mid{
    background-color: #40b83f;
}
.strong{
    background-color: #f79100;
}
.safe{
    padding-left: 169px;
}
.agree{
    padding-left: 96px;
}
.agree input{
    margin-right: 20px;
    vertical-align: middle;
}
#bule{
    color: #00a4ff;
}
.tijiao input{
    margin:30px 0 0 110px ;
    font-size: 14px;
    color: white;
    width: 200px;
    height: 34px;
    background-color: red;
}
.mod_copyright{
    text-align: center;
    padding-top: 20px;
}
.links a{
    margin: 0 5px;
}
.links{
    margin-bottom: 15px;
}
.copyright{
    line-height: 20px;
}