
*{
    margin: 0 ;
    padding: 0;
    background-color: #F0F0F0;
}
.todo{
    background-color: red !important;
    width: 98%;
    list-style: none;
    line-height: 35px;
    border-top:0.5px solid #E0E0E0;
    border-bottom:0.5px solid #E0E0E0;
    border-left:1px solid #E0E0E0;
    border-right:1px solid #E0E0E0;
}
#todoapp{
    width: 280px;
    margin: 100px auto;
}
h1{
    font-family:"隶书";
    font-size: 32px;
    color: saddlebrown;
    text-align:center;
    margin-bottom: 40px;
}
input::-webkit-input-placeholder {
    color: #9C9C9C;
}
.new-todo{
    outline: none;
    width: 95%;
    height: 35px;
    border:1px solid #E0E0E0;
    background-color: white;
    padding:0 4px;
    color: #9C9C9C;
    font-size: 15px;
}
.view{
    display: flex;
    padding:0 4px;
    color: #9C9C9C;
    font-size: 15px;
    background-color: white;
}
.index{
    flex: 1;
    background-color: white;
}
label{
    flex: 10;
    background-color: white;
}
.destroy{
    flex: 1;
    display: none;
    color: red;
    border: none;
    background-color: white;
}
.view:hover .destroy{
    display: block;
}
.todo-count{
    display: block;
    width: 95%;
    line-height: 20px;
    color: #9C9C9C;
    font-size: 10px;
    padding:0 4px;
    border:0.5px solid #E0E0E0;
    background-color: white;
    /*box-shadow:5px 5px 20px rosybrown;*/
    box-shadow:
            0 0.0625px 0.1875em 0 rgb(0, 0 ,0 ,.16),
            0 0.5em 0 -0.25em #f2f2f2ed,
            0 0.5em 0.1875em -0.25em rgba(0, 0, 0, 1),
            0 1em 0 -0.5em #e5e5e5,
            0 1em 0.1875em -0.5em rgba(0, 0, 0, 1);
}
strong{
    background-color: white;
}
.todo-clear{
    position: relative;
    background-color: white;
    color: #9C9C9C;
    font-size: 10px;
    top: -24px;
    left: 250px;
    border: none;
}
